$lightBlue: hsl(178, 60%, 48%);
$lightBlue-Hover: hsl(178, 75%, 65%);
$lightYellow: hsl(39, 88%, 58%);
$lightYellow-Hover: hsl(39, 100%, 69%);
$silver: hsl(198, 23%, 72%);
$silver-Hover: hsl(197, 33%, 89%);
$darkNavy: hsl(202, 32%, 15%);
$semi-DarkNavy: hsl(199, 35%, 19%);

